<html>
    <body>
        <h1>Rescue the Pound!</h1>
        <div class="dogType" id="golden">
            <h3>Godlen Retriever</h3>
            <p>Great with old people and children, but hates everyone else.</p>
        </div>
        <div class="dogType" id="bostonT">
            <h3>Boston Terrier</h3>
            <p>Huge Celtics fan but but hates the Patriots.</p>
        </div>
        <div class="dogType" id="germanS">
            <h3>German Shepherd</h3>
            <p>Fan of warm beer and petrified of boxes.</p>
        </div>
        <div class="dogType" id="kingChar">
            <h3>King Charles Cavalier</h3>
            <p>This regal mother-fucker likes being fed fresh cats and grapes.</p>
        </div>



    </body>
</html>