<html>
    <body>
        <h1>Rescue the Pound!</h1>
        <div class="dogType" id="golden">
            <h3><a href="/dog/new/GR">Retriever</a></h3>
            <p>Great with old people and children, but hates everyone else.</p>
        </div>
        <div class="dogType" id="bostonT">
            <h3><a href="/dog/new/BT">Boston Terrier</a></h3>
            <p>Huge Celtics fan but but hates the Patriots.</p>
        </div>
        <div class="dogType" id="germanS">
            <h3><a href="/dog/new/GS">German Shepherd</a></h3>
            <p>Fan of warm beer and petrified of boxes.</p>
        </div>
        <div class="dogType" id="kingChar">
            <h3><a href="/dog/new/KCC">King Charles Cavalier</a></h3>
            <p>This regal mother-fucker likes being fed fresh cats and grapes.</p>
        </div>



    </body>
</html>