<h1>This is a certificate for your new dog</h1>
<ul>
    <li>@Model.Name</li>
    <li>@Model.Age</li>
</ul>
<p>Congrats on your new puppy! What do you want to do next?</p>
<a href="/dog/house"><button type="button">Go Home</button></a>