<h1>@Model</h1>
<form action="/dog" method="post">
    <label for="newName">Name your new dog!</label>
    <input id="newName" name="newName" type="text">
    <input type="hidden" name="type" value="@Model">
    <button type="submit">Submit</button>
</form>